<html><head>
    <title>Bada Business - Digital Dukaan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/site/templates/assets/css/uikit.min.css">
    <link rel="stylesheet" href="/static/site/templates/assets/css/override.css">
    <link rel="stylesheet" href="/static/site/templates/assets/css/intlTelInput.css">
    <link href="../../fonts.googleapis.com/css2.css?family=Roboto&amp;display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
</head>
<body data-new-gr-c-s-check-loaded="14.1018.0" data-gr-ext-installed="">
<style type="text/css">
.ib_country_2{width: 90px!important;float: left;margin-right:5px;}
#header_mobile{width: 200px!important;float: left;}
.j-center{display: flex;justify-content: center;align-items: center;}
</style>

<div class="loading_gif">
<img src="/static/site/templates/assets/img/loader.gif">
</div>

<nav id="header">
<div class="uk-container uk-navbar" uk-navbar="">
    <div class="uk-navbar-left div_center">
        <a href="#" class="uk-navbar-item uk-logo uk-padding-remove-left"><img src="/static/site/templates/assets/img/logo-white-new.png" width="170"></a>
    </div>
    <div class="uk-navbar-center">
        <ul class="uk-list info_list uk-margin-remove">

            <li class="uk-margin-remove text-white"><span class="the-icons span3" title="Code: 0xe808"><i class="demo-icon icon-user-1"></i>&nbsp;RATHVAAN CONSULTANCY PRIVATE LIMITED</span></li>
            <li class="uk-margin-remove text-white"><span class="the-icons span3" title="Code: 0xe807"><i class="demo-icon icon-briefcase"></i>&nbsp;IBC</span></li>
            <li class="uk-margin-remove"><a href="tel:7849913610" class="text-white uk-link-muted"><span class="the-icons span3" title="Code: 0xe806"><i class="demo-icon icon-phone"></i></span>&nbsp;7849913610</a></li>
            <li class="uk-margin-remove"><a href="mailto:badabusiness@rathvaan.com" class="text-white"><span class="the-icons span3" title="Code: 0xf0e0"><i class="demo-icon icon-mail-alt"></i></span>&nbsp;badabusiness@rathvaan.com</a></li>

        </ul>
    </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav social_list">
                <li><a class="text-peach" href="https://apple.co/30TwZum"><span class="the-icons span3 icon_wrapper" title=""><i class="demo-icon icon-apple"></i></span></a></li>
                <li><a class="text-peach" href="https://bit.ly/2KbEwPB"><span class="the-icons span3 icon_wrapper" title=""><i class="demo-icon icon-android"></i></span></a></li> 		        	
                <li><a class="text-peach" href="https://twitter.com/DrVivekBindra"><span class="the-icons span3 icon_wrapper" title=""><i class="demo-icon icon-twitter"></i></span></a></li> 
                <li><a class="text-peach" href="https://www.instagram.com/vivek_bindra/"><span class="the-icons span3 icon_wrapper" title=""><i class="demo-icon icon-instagram"></i></span></a></li>
                <li><a class="text-peach" href="https://www.facebook.com/DailyMotivationByVivekBindra/"><span class="the-icons span3 icon_wrapper" title=""><i class="demo-icon icon-facebook"></i></span></a></li>
                <li><a class="text-peach" href="https://www.youtube.com/user/MrVivekBindra"><span class="the-icons span3 icon_wrapper" title=""><i class="demo-icon icon-youtube-play"></i></span></a></li>
            </ul>
        </div>
</div>
</nav>

<div class="uk-position-relative">
        <h1>Thanks For Registering we will Get back to you Soon!</h1>
</div>

    <script type="text/javascript">
        var type_u = "IBC";
        console.log(type_u,"dss");
    </script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/site/templates/assets/js/uikit.min.js"></script>
    <script src="/static/site/templates/assets/js/uikit-icons.min.js"></script>
    <script src="/static/site/templates/assets/js/intlTelInput-jquery.min.js"></script>
    <script src="/static/site/templates/assets/js/cities.js"></script>
    <script src="/static/site/templates/assets/js/init.jss"></script>

</body></html>